django==1.9
Pillow
djangorestframework==3.3.3
django-rest-swagger
django-cors-headers
django-filter

## testing:
codacy-coverage
django-nose
nose-html-reporting
nose-exclude
coverage
gunicorn
psycopg2
django-queryinspect